--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
websockets
sounddevice
platformdirs
python-multipart
huggingface_hub
ttkbootstrap
keyring
certifi
torch
torchaudio
diart
pyannote.audio
rx
